<section class="mb-4">
  <h2><%= heading ||= "Books" %></h2>
  <% if books.all.count == 0 %>
    <% unless (empty_message ||= "").empty? %>
      <p class="text-center"><%= empty_message %></p>
    <% end %>
  <% else %>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "books/row", collection: books, as: :book %>
      </tbody>
    </table>
  <% end %>
</section>